@use "../src/styles/partials/variables.scss" as *;
@use "../src/styles/partials/mixins.scss" as *;
@use "../src/styles/partials/typography.scss" as *;

body {
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $text-color;
}
