@use "variables" as *;

// Breakpoints
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Reset default element margins/paddings
@mixin fit {
  margin: 0;
  padding: 0;
}

// Flex utilities
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin box-shadow($color) {
  box-shadow: 0 4px 6px rgba($color, 0.1);
}