@font-face {
    font-family: 'Roboto';
    src: url('/client/src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Chewy';
    src: url('/client/src/assets/fonts/Chewy.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'League Spartan';
    src: url('/client/src/assets/fonts/LeagueSpartan-Bold.otf') format('opentype');
    font-weight: bold;
  }