@use "typography" as *;

// Breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Fonts
$primary-font: "Roboto", sans-serif;
$header-font: "League Spartan", sans-serif;
$keyword-font: "Chewy";
$title-font: "League Spartan", serif;

// Colors
$primary-color: #fff;
$secondary-color: #FCF8F0;
$accent-color: #E1DCD0;
$text-color: #32302F;
$heading-color: #32302F;
$keyword-color: #EFA500;

// Sizes
$font-size-base: 14px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$border-radius: 8px;
$padding-base: 10px;
$margin-base: 20px;
