@import '../../styles/variables';

.why-thriving {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: $primary-color;
  color: $text-color;
  text-align: center;

  &__header {
    font-size: $font-size-xl;
    margin-bottom: 40px;
    color: $heading-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 760px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      text-align: left;
    }

    @media (min-width: 1280px) {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 60px;
    }
  }

  &__image-section {
    display: block;
    width: 100%;
    margin-bottom: $margin-base;

    @media (min-width: 760px) {
      max-width: 50%;
      margin-bottom: 0;
    }

    .why-thriving__image {
      width: 100%;
      height: auto;
    }
  }

  &__text-section {
    margin-bottom: $margin-base;
    max-width: 500px;

    @media (min-width: 760px) {
      max-width: 50%;
      margin-bottom: 0;
    }
  }

  &__title {
    font-family: "League Spartan", sans-serif;
    font-size: $font-size-lg;
    color: $heading-color;
    margin-bottom: $margin-base;

    span {
      color: $accent-color;
    }
  }

  &__description {
    font-size: $font-size-base;
    margin-bottom: $margin-base;
  }

  &__features {
    list-style-type: none;
    padding: 0;
    margin-bottom: $margin-base;

    li {
      font-size: $font-size-base;
      margin-bottom: 10px;
      position: relative;
      padding-left: 20px;

      &:before {
        content: '✔️';
        position: absolute;
        left: 0;
        color: $accent-color;
      }
    }
  }

  &__button {
    background-color: $accent-color;
    color: $primary-color;
    border: none;
    border-radius: $border-radius;
    padding: 10px 20px;
    cursor: pointer;
    font-size: $font-size-base;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($accent-color, 10%);
    }
  }
}
