@import "../styles/variables";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
    height: 60px;
  background-color: #131314;
  z-index: 1000;

  &__logo {
    img {
      width: 50px; 
      height: auto;
    }

    @media (min-width: 1280px) {
      position:relative;
      left: 14rem; 
      img {
        width: 50px;
      }
    }
  }

  &__nav {
    display: none; 

    .header__link {
      text-decoration: none;
      color: #545454;
      font-family: "Roboto", sans-serif;
      font-size: 14px; 
      padding: 0 10px;
      margin: 0 5px;
      border-radius: 20px;

      &:hover {
        background-color: $accent-color;
        color: $primary-color;
      }
    }

    .header__logout-button {
      background: none;
      border: 1px solid $text-color; 
      color: inherit;
      cursor: pointer;
      font: inherit;
      text-decoration: none;
      padding: 8px 16px; 
      border-radius: 20px; 
      margin-left: 8px; 
      &:hover {
        background-color: $accent-color;
        color: $primary-color;
      }
    }
  }

  &__menu-icon {
    display: block; // Show menu icon by default
    cursor: pointer;

    img {
      width: 30px; // Adjust size as needed
      height: auto;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header__overlay-link {
        text-decoration: none;
        color: $text-color;
        font-family: "Roboto", sans-serif;
        font-size: 18px; 
        padding: 10px 0;
        margin: 10px 0;
        border-radius: 20px;

        &:hover {
          background-color: $accent-color;
          color: $primary-color;
        }
      }

      .header__logout-button {
        background: none;
        color: $text-color;
        cursor: pointer;
        font: inherit;
        text-decoration: none;
        padding: 10px 0px; 
        border-radius: 20px; 
        margin: 10px 0; 

        &:hover {
          background-color: $accent-color;
          color: $primary-color;
        }
      }
    }
  }

  @media (min-width: 760px) {
    &__nav {
      display: flex; 
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      align-items: center;
      background-color: #1E1D1D;
      border-radius: 20px; 
      padding: 5px 10px; 
      height: 40px; 
    }

    &__menu-icon {
      display: none; 
    }
  }

  @media (min-width: 1280px) {
    &__nav {
      padding: 5px 20px;
      height: 50px;

      .header__link {
        font-size: 16px;
      }
    }
  }

}
