@import '../styles/variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-base;
  background-color: $primary-color;
  z-index: 1000;

  &__logo {
    img {
      width: 40px; // Adjust size as needed
      height: auto;
    }
  }

  &__nav {
    display: none; // Hide navigation by default

    .header__link {
      text-decoration: none;
      color: $text-color;
      font-family: 'Roboto', sans-serif;
      font-size: 14px; // Reduced font size
      padding: 0 10px; // Reduced padding
      margin: 0 5px;
      border-radius: 20px;

      &:hover {
        background-color: $accent-color;
        color: $primary-color;
      }
    }
  }

  &__menu-icon {
    display: block; // Show menu icon by default
    cursor: pointer;

    img {
      width: 30px; // Adjust size as needed
      height: auto;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .header__overlay-link {
        text-decoration: none;
        color: $primary-color;
        font-family: 'Roboto', sans-serif;
        font-size: 18px; // Larger font size for overlay links
        padding: 10px 0; // Padding for overlay links
        margin: 10px 0;
        border-radius: 20px;

        &:hover {
          background-color: $accent-color;
          color: $primary-color;
        }
      }
    }
  }

  @media (min-width: 760px) {
    &__nav {
      display: flex; // Show navigation on tablets and above
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      justify-content: center;
      align-items: center;
      background-color: $secondary-color;
      border-radius: 20px; // More rounded corners
      padding: 5px 10px; // Reduced padding
      height: 40px; // Adjust height as needed
    }

    &__menu-icon {
      display: none; // Hide menu icon on tablets and above
    }
  }

  @media (min-width: 1280px) {
    &__nav {
      padding: 5px 20px;
      height: 50px;

      .header__link {
        font-size: 16px;
      }
    }
  }
}
