@font-face {
    font-family: 'Open Sauce';
    src: url('../assets/fonts/OpenSauceSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/LeagueSpartan-Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Chewy';
    src: url('../assets/fonts/chewy.ttf') format('truetype');
  }
  