@import './variables';
@import './mixins';
@import './fonts';

body {
  font-family: $primary-font;
  background-color: $primary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: $title-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}
