$primary-color: #131314;
$secondary-color: #545454;
$accent-color: #EFA500;
$text-color: #fff;
$heading-color: #fff;

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-base-desktop: 18px;
$font-size-lg-desktop: 25px;
$font-size-xl-desktop: 34px;
$border-radius: 20px;
$padding-base: 10px;
$margin-base: 20px;
