$primary-color: #fff;
$secondary-color: #FCF8F0;
$accent-color: #EFA500;
$text-color: #32302F;
$heading-color: #32302F;

$font-size-base: 14px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$border-radius: 8px;
$padding-base: 10px;
$margin-base: 20px;
